.about {
    background-color: var(--lush-green);
    padding: 80px 40px;
    color: white;
}

.about h2 {
    font-size: 24px;
    text-align: center;
}

.about p {
    max-width: 600px;
    margin: auto;
    text-align: center;
}