.header {
    padding: 80px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header h1 {
    text-align: left;
}
.tagline {
    font-size: var(--fs-2);
    font-weight: 600 !important;
    width: fit-content;
    margin: 20px auto;
}
.avatar {
    margin: 40px;
    padding: 20px;
    background: linear-gradient(135deg, var(--golden-yellow), var(--lush-green));
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}
.avatar img {
    min-width: 300px;
    aspect-ratio: 1 / 1;
}

@media (max-width: 880px) {
    .avatar img {
        min-width: 100px;
    }
}

@media (max-width: 600px) {
    .avatar img {
        max-width: 200px;
    }
    .header {
        padding: 40px 20px;
        flex-direction: column;
        align-items: center;
    }
    .header h1, .tagline {
        text-align: center;
        max-width: 380px;
    }
}